.login {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
}
.login_container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.login_container > form > h5 {
    margin-bottom: 5px;
}
.login_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background: white;
    width: 98%;
}
.login_container > p {
    margin-top: 10px;
    font-size: 15px;
}
.login_logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    object-fit: contain;
}
.login_signInButton {
    background: #30a7d7;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
}
.login_registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: #50cfb2;
}